﻿@{
    ViewData["Title"] = "About Us";
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div>
        This is the @ViewBag.AboutInfo page from the about us action method.
    </div>
</body>
</html>
