﻿
@{
    ViewData["Title"] = "Controller View Practice";
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <p>This view which I have launched from the link in the main menu, is about practice with views and controllers.</p>
</body>
</html>
