﻿@{
    ViewData["Title"] = "My View";
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div>
        @ViewBag.Greeting Party Invities (The time is @ViewBag.TimeHour : @ViewBag.TimeMinute and the day today is @ViewBag.TimeDayToday)
    </div>
</body>
</html>
